<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Blog-Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

          <li class="nav-item active" routerLinkActive="active">
              <a class="nav-link py-2 mx-1" routerLink="/blogs">Blogs</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link py-2 mx-1" routerLink="/stats">Statistiken</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link py-2 mx-1" routerLink="/add">Hinzufügen</a>
        </li>
      </ul>
  </div>
</nav>
